<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring2:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/spring2_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="spring2/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring2" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="application" name="spring" />
          <element id="library" level="application" name="struts2" />
          <element id="file-copy" path="$PROJECT_DIR$/../../web/commons/commons-logging-1.1.1.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../web/commons/struts2-spring-plugin-2.3.34.jar" />
        </element>
      </element>
    </root>
  </artifact>
</component>